// Dark Theme
$dark_background: #222222;
$dark_card_background: #364850;
$dark_font_color: #ffff;
$dark_button_color: #0071bc;

// Light Theme
$light_background: #ffffff;
$light_card_background: #e4edf1;
$light_font_color: #222222;
$light_button_color: #0367aa;